@import '@shared/assets/styles/constants.scss';


.bookContainer {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 100px 0 40px;

    @media (max-width: 900px) {
        flex-direction: column;
        text-align: center;
        margin-top: 40px;
    }

    .imgBlock {
        flex: 20%;
        display: flex;
        justify-content: center;
        border-right: 4px solid $green;
        margin-right: 40px;

        @media (max-width: 900px) {
            border-right: none;
            margin-right: 0;
        }

        img {
            width: 400px;
            height: 560px;
            border-radius: 4px;
            margin-right: 40px;

            @media (max-width: 900px) {
                margin-right: 0;
            }

            @media (max-width: 570px) {
                width: 260px;
                height: 360px;
            }
        }
    }

    .infoBlock {
        flex: 40%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        h1 {
            font-size: 48px;
            color: $gray;

            @media (max-width: 900px) {
                margin-top: 40px;
            }
        }

        .categories {
            margin-top: 40px;
            font-size: 24px;
            color: $green;
        }

        .authors {
            margin-top: 20px;
            font-size: 24px;
            color: $light-gray;
        }

        .description {
            margin-top: 60px;
            font-size: 18px;
            color: $gray;
            line-height: 30px;
            text-align: justify;

            @media (max-width: 1200px) {
                display: none;
            }
        }
    }
}

.descriptionAlt {
    display: none;
    font-size: 18px;
    color: $gray;
    line-height: 30px;
    text-align: justify;

    @media (max-width: 1200px) {
        display: block;
    }
}